<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NetDimension.NanUI.Cef2526" version="3.2526.1373.1" targetFramework="net40" />
  <package id="NetDimension.NanUI.XP" version="0.6.2526.13" targetFramework="net40" />
  <package id="sharpconfig" version="3.2.8" targetFramework="net40" />
</packages>