* {
    font-size: 12px;
}

body {
    overflow: hidden;
}

div,
dd {
    display: block;
}

::-webkit-scrollbar {
    background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #bdbdbd;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
}

.layui-layer-page .layui-layer-content {
    position: relative;
    overflow: visible !important;
}

table > thead > tr > th,
table > tbody > tr > td {
    white-space: nowrap;
}

table tbody tr td i.fa-check,
table tbody tr td i.fa-battery,
table tbody tr td i.fa-unlock {
    color: #16b916;
}

table tbody tr td i.fa-close,
table tbody tr td i.fa-battery-quarter,
table tbody tr td i.fa-lock {
    color: red;
}

.layui-table-cell .layui-form-checkbox[lay-skin="primary"] {
    top: 50%;
    transform: translateY(-50%);
}

input[type=text] {
    padding-right: 10px;
}

.header {
    height: 50px;
    padding-left: 10px;
}

.header-center {
    padding-top: 6px;
}

.search {
    position: relative;
}

.search > input[type=text] {
    padding-right: 25px;
}

.btn-search {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translate(0, -50%);
    cursor: pointer;
    color: #1E9FFF;
}

.btn-search:hover {
    opacity: .8;
}

.btn-search:active {
    opacity: 1;
}

.main {
    position: absolute;
    left: 130px;
    right: 10px;
    top: 0px;
    bottom: 0px;
}

.content {
    position: absolute;
    bottom: 0;
    top: 50;
    left: 0;
    right: 0;
    overflow: auto;
}

.left-container {
    width: 350px;
    height: 100%;
    transition: transform 300ms;
}

.top-move-effect {
    transform: translate(0, -100%);
}

.left-container .layui-form-item .layui-input-inline {
    width: auto;
    margin-right: 0px;
}

.left-container input[type=text] {
    width: 150px;
}

.device {
    height: 100%;
    position: relative;
}

.device .layui-field-title {
    margin: 0px;
    margin-bottom: 10px;
}

.btn-group {
    margin: 0px;
}

.move-group {
    text-align: center;
    width: 50%;
    margin: 15px auto;
    cursor: pointer;
}

.move-group:hover {
    color: #1E9FFF;
}

.move-group:active {
    color: #009688;
}

.right-container {
    position: absolute;
    left: 360px;
    right: 0;
    top: 0;
    height: 100%;
    overflow: auto;
    border-left: 1px solid #ccc;
    text-indent: 10px;
}

.footer {
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.form-group {
    width: 700px;
    margin: 0 auto;
}

.custom-float-right {
    float: right;
}
